.Login {

    background-position: -0px -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #101522;
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}